/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/************* ESTILOS GENERALES ************* */
*{
    font-size: 16px;
    color:black;
}

h1,h2{
    color:#b3d4fc;
}
h1{
    text-align: center;
    font-size: 120%;
    font-weight: bold; /* Es lo mismo que bolder */
}

p{
    text-align: justify;
}

/******** MAQUETO TABLA SERIES **********/
section{
    background-color: mediumslateblue;
    padding:50px;
}

.multim{
    width:200px;
    height:200px;
}
a{
    text-decoration: none;
    color:white;
}
table{
    width: 100%;
    /* border:5px solid black;
    Es lo mismo que */
    border-width: 5px;
    border-style: groove;
    border-color: bisque;
}

table th,table tr, table td{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

table tfoot tr, table thead tr{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

table tfoot td{
    border:none;
}
.lft{
    float:left;
}

div#audio{
    background-color: green;
}
#wrapper{
    position: relative;
    top:40px;
}
nav{
    width: 100%;
    position:fixed;
    top:0;
    height:40px;
    z-index: 10000;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#57ea2e+0,2e4c29+100 */
    background: #57ea2e; /* Old browsers */
    background: -moz-linear-gradient(top, #57ea2e 0%, #2e4c29 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #57ea2e 0%,#2e4c29 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #57ea2e 0%,#2e4c29 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57ea2e', endColorstr='#2e4c29',GradientType=0 ); /* IE6-9 */


}

nav ul{
    margin: 0 auto;
        <!-- Para quitar el espacio izq del ul li -->
    list-style-type: none;
    padding:0px;

}
nav ul li{
    float:left;
    width: calc(100%/3);
    text-align: center;
    list-style: none;
    text-decoration: none;
    transition: background-color 2s;/*para que el efecto de cambio sea en 2 seg*/
    border-radius: 0 0 10px 10px;
}

nav ul li:hover{
    background-color:green;
    color:white;
}

#video{

}

/* EJERCICIO 1 DE MIO */
.miancho{
    width: calc(100%/3);/*Le doy el ancho*/
    text-align: justify;
}

.medio{
    width: 50%;
    min-height:300px;
    padding: 10px;
    box-sizing: border-box;
}

button{
    background-color: #b3d4fc;
    margin-top: 20px;
    border-radius: 5px;
}

/* EJERCICIO 1 DE URKO */
#ejer2 article{
    width: calc(100%/3); /* Le daomos la anchura */
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}

#ejer2 article > div{
    float: left;
    width: 80%;
    box-sizing: border-box; /* Incluye dentro de la anchura del elemento, el borde y el padding w3school */
    height: 200px;
}
#ejer2 article > div:last-child{/*  */
    width: 20%;
}
#ejer2 article img{
    width: 100%;
}
#ejer2 article > div button{
    height: 35px;
}
#ejer2 article > div div{
    height: calc(200px - 35px); /* */
}

/* ****** FLEX ******* */
.flex-container {
    display: flex;
    align-content: flex-start;
}

main section:last-child{  /* Todos los hijos usan flex */
    flex-wrap:wrap;
    justify-content: center; /* Con esto centramos los hijos */
}


main section:last-child article{  /* Todos los hijos usan flex */
    flex-wrap:wrap;
    flex-direction:column;
}

.ocultar{
    visibility: hidden;
    display:none;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    flex{
        flex-direction: column;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* */
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
